{% extends 'base.html.twig' %}

{% block title %}Chamber index{% endblock %}

{% block body %}
    <h1>Chamber index</h1>

    <table id="lijst" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for chamber in chambers %}
            <tr>
                <td>{{ chamber.id }}</td>
                <td>{{ chamber.name }}</td>
                <td>{{ chamber.description | raw }}</td>
                <td>{{ chamber.price }}</td>
                <td><img src="{{ vich_uploader_asset(chamber, 'imageFile') }}" alt="{{ chamber.name }}" height="70">
                </td>
                <td>
                    <a href="{{ path('app_chamber_show', {'id': chamber.id}) }}">show</a>
                    <a href="{{ path('app_cart_add', {'id': chamber.id}) }}">reserveer</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_chamber_edit', {'id': chamber.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chamber_new') }}">Create new</a>
{% endblock %}
